.App {
  text-align: center;
}

.conversation {
  height: 85vh;
  margin-bottom: 0vh;
  overflow: hidden;
  overflow-y: scroll; 
  text-align: center;
}

.input-form {
  height: 15vh;
}

.contacts {
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll; 
  text-align: center;
}

.message{
  word-break:break-all;
}

.time-date {
    font-size: 70%;
}
